.header-div {
    width: 100%;
    padding: 2% 0% 2% 1%;
    border-bottom: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    top: 0%;
    position: fixed;
    opacity: 100%;
    background-color: white;
}

.name-div {
    font-family: 'ibm-light';
    font-size: 2em;
    color: black;
    cursor: pointer;
}

.resume-div {
    font-family: 'ibm-light';
    font-size: 1.65em;
    color: black;
}

.links-div {
    text-align: right;
}

.container-div {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.resume-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.download-button {
    cursor: pointer;
}