<div class="professionals portfolio-container center-div-style pt-3">
    <div class="portfolio-professionals-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-2">
                    <span class="professionals-header-span">Professional Experience</span>
                </div>
            </div>
        </div>
    </div>
    <div class="profs-card pt-3 pb-5">
        <div class="container center-div-style">
            <div class="p-2 center-div-flex">
                <div>
                    <img width="700" mat-card-image src="../../assets/computer-networking.jpg" />
                </div>
            </div>
            <div class="p-2 center-div-flex">
                <div class="prof-name pb-2">
                    Computer Networks Teaching Assistant,
                </div>
                <div class="prof-dest pb-2">
                    &nbsp;Binghamton University
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 p-2 center-div-flex">
                    <div>
                        <ul>
                            <li class="prof-details">Assisted in building the coursework, curriculum and the subject material for the course</li>
                            <li class="prof-details">Coordinated in teaching, graded 12 assignments, conducted 3 project demos and invigilated 2 examinations</li>
                            <li class="prof-details">Supported a class of 40 students, comprising of both undergraduate and graduate students</li>
                        </ul>
                    </div>
                </div>
                <div class="center-div-flex">
                    <span class="prof-details">Worked and contributed in these technologies:</span>
                    <div class="technologies-list">
                        <p class="prof-tech">&nbsp;<img width="40" height="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg" />
                                             &nbsp;<img width="40" height="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" />
                                             &nbsp;Proxy Server
                                             &nbsp;DNS Server
                                             &nbsp;Server Cache</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="center-div-flex">
        <div class="separation">
            <hr />
        </div>
    </div>
    <div class="profs-card pb-5">
        <div class="container center-div-style">
            <div class="p-2 center-div-flex">
                <div>
                    <img height="340" mat-card-image src="../../assets/experience.jpeg" />
                </div>
            </div>
            <div class="p-2 center-div-flex">
                <div class="prof-name pb-2">
                    Full Stack Developer,
                </div>
                <div class="prof-dest pb-2">
                    &nbsp;&nbsp;&nbsp;Tata Consultancy Services, Client: <img width="80" src="../../assets/davita-logo.png" matTooltip="Davita Kidney Care" />
                </div>
            </div>
            <div class="p-2 center-div-flex">
                <div>
                    <ul>
                        <li class="prof-details">I spearheaded the conceptualization and perpetual maintenance of a cutting-edge billing application tailored for a distinguished US-based healthcare client</li>
                        <li class="prof-details">My strategic thinking was evident in devising nightly run jobs and intricately crafting PLSQL procedures, ensuring the seamless and optimized functioning of the system</li>
                        <li class="prof-details">In the realm of user interface development, I orchestrated the creation of a visually stunning UI, adeptly handling complex tasks such as claims processing, addressing coverage discrepancies, managing patient and doctor information, and optimizing inventory management processes</li>
                        <li class="prof-details">I engineered and delivered three robust frameworks, deftly slashing development time by an impressive two weeks for each Change Request (CR)</li>
                        <li class="prof-details">My contributions translated directly to tangible success, as evidenced by a remarkable 27% increase in profit, resulting in over $335 million dollars of additional revenue</li>
                    </ul>
                </div>
            </div>
            <div class="center-div-flex">
                <span class="prof-details">Technologies worked on:</span>
                <div class="technologies-list">
                    <span class="prof-tech">&nbsp;<img width="60" height="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-plain-wordmark.svg" /> 
                                            &nbsp;<img width="30" height="30" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" /> 
                                            &nbsp;<img width="40" height="40" src="../../assets/plsql.png" /> 
                                            &nbsp;<img width="40" height="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/visualstudio/visualstudio-original.svg" /> 
                                            &nbsp;<img width="40" height="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original-wordmark.svg" />
                                            &nbsp;<img width="40" height="40" src="../../assets/plsql.png" />
                                            &nbsp;<img width="60" height="40" src="../../assets/tfs-logo.jpeg" /></span>
                </div>
            </div>
        </div>
    </div>
</div>