.portfolio-container {
    width: 100%;
}

.portfolio-professionals-header {
    width: 100%;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
}

.professionals-header-span {
    font-family: 'ibm-bold';
    font-size: 2em;
    color: black;
}

.technologies-list {
    justify-content: space-between !important;
}

.prof-details {
    font-family: 'ibm-light';
    font-size: 1.2em;
    color: black;
}

.profs-card {
    box-shadow: 40px !important;
}

.prof-name {
    font-family: 'roboto-slab';
    font-size: 1.6em;
    font-weight: bold;
}

.prof-dest {
    font-family: 'roboto-slab';
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.1em !important;
}

.prof-details {
    font-family: 'roboto-slab' !important;
    font-size: 1.2em !important;
    list-style:circle;
}

.profs-card {
    display: flexbox;
    border-radius: 12%;
    box-shadow: 2em solid black !important;
    z-index: 5px;
}

.prof-tech {
    font-family: 'roboto-slab' !important;
    font-size: 1em !important;
    list-style:circle;
}