.portfolio-container {
    width: 100%;
}

.portfolio-projects-header {
    width: 100%;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
}

.projects-header-span {
    font-family: 'ibm-bold';
    font-size: 2em;
    color: black;
}

.project-card {
    box-shadow: 40px !important;
}

.projects-card-holder {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.projects-card-holder .container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.project-header {
    width: 80%;
    border-bottom: 0.1em solid black;
}

.project-name {
    font-family: 'roboto-slab';
    font-size: 1.6em;
    font-weight: bold;
}

.project-details {
    font-family: 'roboto-slab' !important;
    font-size: 1.2em !important;
    list-style:circle;
}

.project-card {
    display: flexbox;
    border-radius: 12%;
    box-shadow: 2em solid black !important;
    z-index: 5px;
}

.project-techs {
    font-family: 'roboto-slab' !important;
    font-size: 1.2em !important;
    color: black;
}