.portfolio-container {
    width: 100%;
}

.portfolio-professionals-header {
    width: 100%;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
}

.footer-fonts {
    font-family: 'ibm-bold';
    font-size: 1em;
    color: solid black;
}

.contact-div {
    justify-content: space-between !important;
}