<div class="professionals portfolio-container center-div-style pt-3">
    <div class="portfolio-professionals-header">
        <div class="container contact-div center-div-flex">
            <div class="center-div-flex">
                <img width="50" height="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
                <a href="https://github.com/venkatkishorp/" class="footer-fonts">https://github.com/venkatkishorp/</a>
            </div>
            <div class="pl-2 center-div-flex">
                <img width="50" height="50" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" />
                <p class="footer-fonts">https://www.linkedin.com/in/venkat-kishor-padmanaban/</p>
            </div>
            <div class="pl-2 center-div-flex">
                <img width="40" height="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
                <a class="footer-fonts" href="mailto: vensam19@gmail.com">vensam19@gmail.com</a>
            </div>
        </div>
    </div>
</div>