.main-div {
    width: 100%;
    height:60em;
}

.background {
    width: 100%;
    height: 60em;
    background-image: url('../../assets/bu.jpeg');
}

.kishor-main-avatar {
    border-radius: 50%;
}

.name-span {
    font-family: 'ibm-bold';
    font-size: 1.4em;
    color: black;
}

.salutation {
    font-family: 'ibm-light';
    font-size: 1.6em;
    color: black;
}

.avatar-div {
    text-align: right;
}

.saturation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.salutation-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.salutation-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}