<div class="main-div pt-4 pb-4">
    <div class="container saturation-container">
        <div class="row">
            <div class="col-md-6 salutation-text">
                <div>
                    <p class="salutation">Hi, I am <span class="name-span">Venkat Kishor Padmanaban</span>--</p>
                    <p class="salutation">a Masters student at Binghamton University, Full-Stack Developer, AI developer, melophile, sports enthusiast!!</p>
                </div>
            </div>
            <div class="col-md-6 salutation-avatar">
                <div class="col-md-6 avatar-div">
                    <img class="kishor-main-avatar" src="../../assets/kishor-avatar.jpeg" width="300" height="300" />
                </div>
            </div>
        </div>
    </div>
</div>