.portfolio-resume {
    width: 100%;
}

.portfolio-resume-header {
    width: 100%;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
}

.resume-header-span {
    font-family: 'ibm-bold';
    font-size: 2em;
    color: black;
}